sensor-pc/nodered-flowdir/flows.json
[
    {
        "id": "b352267603553871",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f674a53429b48fc",
        "type": "group",
        "z": "b352267603553871",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "79f4181f81ee96af",
            "495df8d03773847b",
            "04035ba4527b4c15",
            "c7e9dc328028b8f5",
            "7e574a4abcb71486",
            "fa60d2793722f235",
            "11b9c167e2829bf7",
            "66f476c6e502c74c",
            "2d26186ca21aa057"
        ],
        "x": 2554,
        "y": 1679,
        "w": 1212,
        "h": 222
    },
    {
        "id": "1bd453682ffb6f95",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://scmq.scc.co.th",
        "port": "1883",
        "tls": "f1fac89135506d43",
        "clientid": "sensor-pc-node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f1fac89135506d43",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "647ea0875c075db5",
        "type": "postgreSQLConfig",
        "name": "postgres",
        "host": "192.168.15.237",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "Silo",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "12345678",
        "passwordFieldType": "str"
    },
    {
        "id": "f743f36fa6f7f446",
        "type": "MySQLdatabase",
        "name": "mysql database",
        "host": "mysql",
        "port": "3306",
        "db": "mysqldb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6a900baee7bbc142",
        "type": "inject",
        "z": "b352267603553871",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 2340,
        "wires": [
            [
                "bb28c591bf9d267e"
            ]
        ]
    },
    {
        "id": "33728b106d5bacbc",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 770,
        "y": 2340,
        "wires": [
            [
                "2074c026a6e24482"
            ]
        ]
    },
    {
        "id": "16587d2cdc2844d6",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 1900,
        "wires": [
            [
                "e0d34d1308f3d60b"
            ]
        ]
    },
    {
        "id": "a9ae0c52664a977b",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 1",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight ;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params = \n[d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2), \nmsg.payload.silo_row, msg.payload.depth, msg.payload.material_id,msg.payload.material_name,\nmsg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1800,
        "wires": [
            [
                "f24e480e5e35cc33",
                "a50ddcc921bc67a7",
                "8d70df32f3f5a26d"
            ]
        ]
    },
    {
        "id": "332b3f2f05243142",
        "type": "function",
        "z": "b352267603553871",
        "name": "5 min tunnel",
        "func": "//check 5 min interval \nconst now = new Date();\n\nlet prev_min = context.get('prev_min');\nlet msg_passed = context.get('msg_passed');\nconst roundedMinutes = Math.floor(now.getMinutes());\nconst min_interval = 5;\n\n//const silo_id = msg.payload.silo_id;\nconst loop_name = msg.payload.loop_name;\n\n\nif ((roundedMinutes != prev_min) && (roundedMinutes%min_interval===0) ){\n    prev_min = roundedMinutes;\n    msg_passed = {\n        S001: false, S002: false, S003: false, S004: false, S005: false,\n        S006: false, S007: false, S008: false, S009: false, S010: false,\n        S011: false, S012: false, S013: false, S014: false, S015: false,\n        S016: false, S017: false, S018: false, S019: false, S020: false,\n        S021: false, S022: false\n    };\n    context.set('prev_min', prev_min);\n\n    \n}\n\nif (!msg_passed[loop_name]){\n    msg_passed[loop_name] = true;\n    context.set('msg_passed', msg_passed);\n    msg.payload.weight = msg.payload.weight.toFixed(2)\n\n    if (isNaN(msg.params[3])) msg.params[3] = null;\n    return msg;\n}\nelse return null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet  prev_min = undefined;\n\nconst msg_passed = {\n    S001: false, S002: false, S003: false, S004: false, S005: false,\n    S006: false, S007: false, S008: false, S009: false, S010: false,\n    S011: false, S012: false, S013: false, S014: false, S015: false,\n    S016: false, S017: false, S018: false, S019: false, S020: false,\n    S021: false, S022: false\n};\n\n\ncontext.set('msg_passed', msg_passed);\ncontext.set('prev_min', prev_min);",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "f24e480e5e35cc33",
        "type": "function",
        "z": "b352267603553871",
        "name": "1 second tunnel ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 1780,
        "wires": [
            [
                "e29c7f999dcbb289"
            ]
        ]
    },
    {
        "id": "e0d34d1308f3d60b",
        "type": "switch",
        "z": "b352267603553871",
        "name": "sensor side switch",
        "property": "payload.loop_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "L00P0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P21",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P22",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 29,
        "x": 1010,
        "y": 1920,
        "wires": [
            [
                "5db6499861c943fe"
            ],
            [
                "511f804c9352c603"
            ],
            [
                "f2dcf1cedefca658"
            ],
            [
                "3d59bf1d4174d45c"
            ],
            [
                "35ff2814a0eb1966"
            ],
            [
                "0f854d92576a1d90"
            ],
            [
                "5c3d5aec7abf1fe7"
            ],
            [
                "f705a9c98e3a29a6"
            ],
            [
                "45834965827ebb7b"
            ],
            [
                "0779018d4b62bc7f"
            ],
            [
                "6f7e5cd237e000d4"
            ],
            [
                "45ae408fdf8f9532"
            ],
            [
                "f62e69c1b1a122b6"
            ],
            [
                "f2ab735704574028"
            ],
            [
                "f81d8010b6fb196c"
            ],
            [
                "e0a9179f0cbda8bb"
            ],
            [
                "ae40ba006460e1b5"
            ],
            [
                "ef4cb8698f7ca190"
            ],
            [
                "185ed83526979c67"
            ],
            [
                "d1411d17be973fb0"
            ],
            [
                "6d71f94511192bf1"
            ],
            [
                "ebea90948a2906da"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "2074c026a6e24482",
        "type": "switch",
        "z": "b352267603553871",
        "name": "database side switch ",
        "property": "payload.loop_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "L00P0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "L00P21",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 22,
        "x": 1020,
        "y": 2320,
        "wires": [
            [
                "5db6499861c943fe"
            ],
            [
                "511f804c9352c603"
            ],
            [
                "f2dcf1cedefca658"
            ],
            [
                "3d59bf1d4174d45c"
            ],
            [
                "35ff2814a0eb1966"
            ],
            [
                "0f854d92576a1d90"
            ],
            [
                "5c3d5aec7abf1fe7"
            ],
            [
                "f705a9c98e3a29a6"
            ],
            [
                "45834965827ebb7b"
            ],
            [
                "0779018d4b62bc7f"
            ],
            [
                "6f7e5cd237e000d4"
            ],
            [
                "45ae408fdf8f9532"
            ],
            [
                "f62e69c1b1a122b6"
            ],
            [
                "f2ab735704574028"
            ],
            [
                "f81d8010b6fb196c"
            ],
            [
                "e0a9179f0cbda8bb"
            ],
            [
                "ae40ba006460e1b5"
            ],
            [
                "ef4cb8698f7ca190"
            ],
            [
                "185ed83526979c67"
            ],
            [
                "d1411d17be973fb0"
            ],
            [
                "6d71f94511192bf1"
            ],
            [
                "ebea90948a2906da"
            ]
        ]
    },
    {
        "id": "5db6499861c943fe",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1720,
        "wires": [
            [
                "d77dd6c47be6ed1b"
            ]
        ]
    },
    {
        "id": "511f804c9352c603",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1760,
        "wires": [
            [
                "5f6bd311e2d561f7"
            ]
        ]
    },
    {
        "id": "f2dcf1cedefca658",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1800,
        "wires": [
            [
                "60a448416cc3097e"
            ]
        ]
    },
    {
        "id": "3d59bf1d4174d45c",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1840,
        "wires": [
            [
                "44dc6302246aeba5"
            ]
        ]
    },
    {
        "id": "35ff2814a0eb1966",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1880,
        "wires": [
            [
                "eca126169e41b495"
            ]
        ]
    },
    {
        "id": "0f854d92576a1d90",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1920,
        "wires": [
            [
                "345cf70dcb0b4cb1"
            ]
        ]
    },
    {
        "id": "5c3d5aec7abf1fe7",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 1960,
        "wires": [
            [
                "6fe4bb9c2a5486ab"
            ]
        ]
    },
    {
        "id": "f705a9c98e3a29a6",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2000,
        "wires": [
            [
                "e830fb42f13e5eec"
            ]
        ]
    },
    {
        "id": "45834965827ebb7b",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2040,
        "wires": [
            [
                "ecf7c3dba5ccb0fe"
            ]
        ]
    },
    {
        "id": "0779018d4b62bc7f",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2080,
        "wires": [
            [
                "3193a78cbbc53fa2"
            ]
        ]
    },
    {
        "id": "6f7e5cd237e000d4",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2120,
        "wires": [
            [
                "5d4bfb076f9a97e9"
            ]
        ]
    },
    {
        "id": "45ae408fdf8f9532",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2160,
        "wires": [
            [
                "2e6d0c8bdf66fc50"
            ]
        ]
    },
    {
        "id": "f62e69c1b1a122b6",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2200,
        "wires": [
            [
                "aea077fd7de33089"
            ]
        ]
    },
    {
        "id": "f2ab735704574028",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2240,
        "wires": [
            [
                "e58ef009c12079df"
            ]
        ]
    },
    {
        "id": "f81d8010b6fb196c",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2280,
        "wires": [
            [
                "14b3d5b336bac5fa"
            ]
        ]
    },
    {
        "id": "e0a9179f0cbda8bb",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2320,
        "wires": [
            [
                "42791c47e345f5aa"
            ]
        ]
    },
    {
        "id": "ae40ba006460e1b5",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2360,
        "wires": [
            [
                "31c01c4b9e375c57"
            ]
        ]
    },
    {
        "id": "ef4cb8698f7ca190",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2400,
        "wires": [
            [
                "5466741406b06880"
            ]
        ]
    },
    {
        "id": "185ed83526979c67",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2440,
        "wires": [
            [
                "13d5921cbbf47572"
            ]
        ]
    },
    {
        "id": "d1411d17be973fb0",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2480,
        "wires": [
            [
                "c4f2508ae03b7718"
            ]
        ]
    },
    {
        "id": "6d71f94511192bf1",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2520,
        "wires": [
            [
                "3ed46ee279337bd3"
            ]
        ]
    },
    {
        "id": "ebea90948a2906da",
        "type": "split",
        "z": "b352267603553871",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1390,
        "y": 2560,
        "wires": [
            [
                "31ebccbc24d63e4c"
            ]
        ]
    },
    {
        "id": "31ebccbc24d63e4c",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2560,
        "wires": [
            [
                "24b3c797ce6a7571"
            ]
        ]
    },
    {
        "id": "31c01c4b9e375c57",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2360,
        "wires": [
            [
                "794c0ea236e92634"
            ]
        ]
    },
    {
        "id": "5466741406b06880",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2400,
        "wires": [
            [
                "794c0ea236e92634"
            ]
        ]
    },
    {
        "id": "13d5921cbbf47572",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2440,
        "wires": [
            [
                "24b3c797ce6a7571"
            ]
        ]
    },
    {
        "id": "c4f2508ae03b7718",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2480,
        "wires": [
            [
                "24b3c797ce6a7571"
            ]
        ]
    },
    {
        "id": "3ed46ee279337bd3",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2520,
        "wires": [
            [
                "24b3c797ce6a7571"
            ]
        ]
    },
    {
        "id": "42791c47e345f5aa",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2320,
        "wires": [
            [
                "794c0ea236e92634"
            ]
        ]
    },
    {
        "id": "5d4bfb076f9a97e9",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2120,
        "wires": [
            [
                "fce3e668625a0885"
            ]
        ]
    },
    {
        "id": "2e6d0c8bdf66fc50",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2160,
        "wires": [
            [
                "fce3e668625a0885"
            ]
        ]
    },
    {
        "id": "aea077fd7de33089",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2200,
        "wires": [
            [
                "326731a528c408e5"
            ]
        ]
    },
    {
        "id": "e58ef009c12079df",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2240,
        "wires": [
            [
                "326731a528c408e5"
            ]
        ]
    },
    {
        "id": "14b3d5b336bac5fa",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2280,
        "wires": [
            [
                "326731a528c408e5"
            ]
        ]
    },
    {
        "id": "3193a78cbbc53fa2",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2080,
        "wires": [
            [
                "fce3e668625a0885"
            ]
        ]
    },
    {
        "id": "eca126169e41b495",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1880,
        "wires": [
            [
                "a365ddfefb662718"
            ]
        ]
    },
    {
        "id": "345cf70dcb0b4cb1",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1920,
        "wires": [
            [
                "a365ddfefb662718"
            ]
        ]
    },
    {
        "id": "6fe4bb9c2a5486ab",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1960,
        "wires": [
            [
                "3115ccdc1aef55a8"
            ]
        ]
    },
    {
        "id": "e830fb42f13e5eec",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2000,
        "wires": [
            [
                "3115ccdc1aef55a8"
            ]
        ]
    },
    {
        "id": "ecf7c3dba5ccb0fe",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 2040,
        "wires": [
            [
                "3115ccdc1aef55a8"
            ]
        ]
    },
    {
        "id": "44dc6302246aeba5",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1840,
        "wires": [
            [
                "a365ddfefb662718"
            ]
        ]
    },
    {
        "id": "d77dd6c47be6ed1b",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1720,
        "wires": [
            [
                "a9ae0c52664a977b"
            ]
        ]
    },
    {
        "id": "5f6bd311e2d561f7",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1760,
        "wires": [
            [
                "a9ae0c52664a977b"
            ]
        ]
    },
    {
        "id": "60a448416cc3097e",
        "type": "join",
        "z": "b352267603553871",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1530,
        "y": 1800,
        "wires": [
            [
                "a9ae0c52664a977b"
            ]
        ]
    },
    {
        "id": "a365ddfefb662718",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 2",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight ;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params = \n[d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2), \nmsg.payload.silo_row, msg.payload.depth, msg.payload.material_id,msg.payload.material_name,\nmsg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1900,
        "wires": [
            [
                "f24e480e5e35cc33",
                "8d70df32f3f5a26d",
                "a50ddcc921bc67a7"
            ]
        ]
    },
    {
        "id": "3115ccdc1aef55a8",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 3",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params =\n    [d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2),\n        msg.payload.silo_row, msg.payload.depth, msg.payload.material_id, msg.payload.material_name,\n        msg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 2000,
        "wires": [
            [
                "f24e480e5e35cc33",
                "8d70df32f3f5a26d",
                "a50ddcc921bc67a7"
            ]
        ]
    },
    {
        "id": "fce3e668625a0885",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 4",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight ;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params = \n[d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2), \nmsg.payload.silo_row, msg.payload.depth, msg.payload.material_id,msg.payload.material_name,\nmsg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 2100,
        "wires": [
            [
                "dc31723a3f79ff34",
                "b985e2eccd1bb9c8",
                "ac06d14c0188a1d6"
            ]
        ]
    },
    {
        "id": "326731a528c408e5",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 5",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight ;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params = \n[d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2), \nmsg.payload.silo_row, msg.payload.depth, msg.payload.material_id,msg.payload.material_name,\nmsg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 2220,
        "wires": [
            [
                "dc31723a3f79ff34",
                "b985e2eccd1bb9c8",
                "ac06d14c0188a1d6"
            ]
        ]
    },
    {
        "id": "794c0ea236e92634",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 6",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight ;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params = \n[d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2), \nmsg.payload.silo_row, msg.payload.depth, msg.payload.material_id,msg.payload.material_name,\nmsg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2360,
        "wires": [
            [
                "dc31723a3f79ff34",
                "b985e2eccd1bb9c8",
                "ac06d14c0188a1d6"
            ]
        ]
    },
    {
        "id": "24b3c797ce6a7571",
        "type": "function",
        "z": "b352267603553871",
        "name": "cal workload 7",
        "func": "const d = new Date(msg.Timestamp);\n\nconst material_density = parseFloat(msg.payload.material_density);\nconst volume = msg.payload.percent * msg.payload.silo_max_m3 / 100;\nconst weight = volume * material_density;\n\n\nmsg.payload.weight = weight ;\nmsg.payload.date_time = d;\nmsg.payload.volume = volume;\n\nmsg.params = \n[d, msg.payload.percent.toFixed(2), msg.payload.volume.toFixed(2), weight.toFixed(2), \nmsg.payload.silo_row, msg.payload.depth, msg.payload.material_id,msg.payload.material_name,\nmsg.payload.material_density];\n\n\n// (date_time,plsnr, percent_value, volume_value, weight_value, silo_id, material_id, company_id)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 2460,
        "wires": [
            [
                "dc31723a3f79ff34",
                "b985e2eccd1bb9c8",
                "ac06d14c0188a1d6"
            ]
        ]
    },
    {
        "id": "79f4181f81ee96af",
        "type": "function",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "beautiful tunnel",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2660,
        "y": 1860,
        "wires": [
            [
                "2d26186ca21aa057",
                "66f476c6e502c74c",
                "11b9c167e2829bf7",
                "495df8d03773847b"
            ]
        ]
    },
    {
        "id": "495df8d03773847b",
        "type": "function",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "LL alert",
        "func": "const date = new Date();\n\n\n\nconst alert_type = \"information\";\nconst alert_topic = \"Silo Low\";\nconst alert_message = \"Silo is now on Critical low level (LL) !  \";\nconst alert_from = \"node red\";\nconst alert_identity = msg.payload.silo_row;\n\n\n\n\nconst silo_data = msg.payload;\nconst obj_alert = context.get('obj_alert');\nconst silo_alert = obj_alert[silo_data.loop_name];\nconst alert_lv = silo_data.HH;\n\n\n\n\n\nmsg.id = silo_data.loop_name;\nmsg.payload = null;\n\n\n\n//check if silo id exists or the alert is enable\nif (silo_alert == undefined){\n    // msg.payload = \"No silo id found (\" + silo_data.loop_name +\")\" ;\n    // return msg;\n    return msg;\n}\n\nif (silo_data.percent <= alert_lv && silo_alert ==false){\n    obj_alert[silo_data.loop_name] = true;\n    context.set('obj_alert',obj_alert);\n    msg.alert = true;\n\n    msg.params = [date, date, alert_type, alert_topic, alert_message, alert_identity, alert_from]\n    msg.payload = {\n\n        alert_identity: alert_identity,\n        alert_type: alert_type,\n        alert_topic: alert_topic,\n        alert_message: alert_message,\n        alert_from: alert_from,\n        datetime_start: date,\n        datetime_end: date\n\n    }\n    return msg;\n\n}\nif(silo_data.percent >= (alert_lv+5) && silo_alert == true){\n    obj_alert[silo_data.loop_name] = false;\n    context.set('obj_alert', obj_alert);\n    msg.alert = false;\n    return msg;\n\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst obj_alert = {\n    L00P0: false, L00P1: false, L00P2: false, L00P3: false, L00P4: false,\n    L00P5: false, L00P6: false, L00P7: false, L00P8: false, L00P9: false,\n    L00P10: false, L00P11: false, L00P12: false, L00P13: false, L00P14: false,\n    L00P15: false, L00P16: false, L00P17: false, L00P18: false, L00P19: false,\n    L00P20: false, L00P21: false\n};\ncontext.set('obj_alert', obj_alert);\n",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1840,
        "wires": [
            [
                "c7e9dc328028b8f5"
            ]
        ]
    },
    {
        "id": "c7e9dc328028b8f5",
        "type": "function",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "filter null",
        "func": "if(msg.payload === null){\n    return null;\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3040,
        "y": 1840,
        "wires": [
            [
                "7e574a4abcb71486",
                "03b50cc03fb343f7",
                "3eaf8c7439e9c8ca"
            ]
        ]
    },
    {
        "id": "7e574a4abcb71486",
        "type": "function",
        "z": "b352267603553871",
        "d": true,
        "g": "1f674a53429b48fc",
        "name": "craft line req",
        "func": "msg.url = \"https://notify-api.line.me/api/notify\";\nconst silo_name = msg.payload.alert_identity\n\nconst text = silo_name + \" \"+ msg.payload.alert_message;\n\nmsg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer C0irmdUOEfCIxZY1fYQsBKXbImHJ7miq9ps6Y1TYnq6'\n};\nmsg.payload = {\n    \"message\": text\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3310,
        "y": 1800,
        "wires": [
            [
                "fa60d2793722f235"
            ]
        ]
    },
    {
        "id": "fa60d2793722f235",
        "type": "http request",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3470,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "11b9c167e2829bf7",
        "type": "function",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "L alert",
        "func": "const date = new Date();\n\n\n\nconst alert_type = \"information\";\nconst alert_topic = \"Silo Low\";\nconst alert_message = \"Silo is now on Low level (L) !  \";\nconst alert_from = \"node red\";\nconst alert_identity = msg.payload.silo_row;\n\n\n\n\nconst silo_data = msg.payload;\nconst obj_alert = context.get('obj_alert');\nconst silo_alert = obj_alert[silo_data.loop_name];\nconst alert_lv = silo_data.HH;\n\n\n\nmsg.id = silo_data.loop_name;\nmsg.payload = null;\n\n\n\n//check if silo id exists or the alert is enable\nif (silo_alert == undefined) {\n    // msg.payload = \"No silo id found (\" + silo_data.loop_name +\")\" ;\n    // return msg;\n    return msg;\n}\n\nif (silo_data.percent <= alert_lv && silo_alert ==false){\n    obj_alert[silo_data.loop_name] = true;\n    context.set('obj_alert',obj_alert);\n    msg.alert = true;\n\n    msg.params = [date, date, alert_type, alert_topic, alert_message, alert_identity, alert_from]\n    msg.payload = {\n\n        alert_identity: alert_identity,\n        alert_type: alert_type,\n        alert_topic: alert_topic,\n        alert_message: alert_message,\n        alert_from: alert_from,\n        datetime_start: date,\n        datetime_end: date\n\n    }\n    return msg;\n\n}\nif(silo_data.percent >= (alert_lv+5) && silo_alert == true){\n    obj_alert[silo_data.loop_name] = false;\n    context.set('obj_alert', obj_alert);\n    msg.alert = false;\n    return msg;\n\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst obj_alert = {\n    L00P0: false, L00P1: false, L00P2: false, L00P3: false, L00P4: false,\n    L00P5: false, L00P6: false, L00P7: false, L00P8: false, L00P9: false,\n    L00P10: false, L00P11: false, L00P12: false, L00P13: false, L00P14: false,\n    L00P15: false, L00P16: false, L00P17: false, L00P18: false, L00P19: false,\n    L00P20: false, L00P21: false\n};\ncontext.set('obj_alert', obj_alert);\n",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 1800,
        "wires": [
            [
                "c7e9dc328028b8f5"
            ]
        ]
    },
    {
        "id": "66f476c6e502c74c",
        "type": "function",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "H alert",
        "func": "const date = new Date();\n\n\n\nconst alert_type = \"information\";\nconst alert_topic = \"Silo high\";\nconst alert_message = \"Silo is now on High level (H) !  \";\nconst alert_from = \"node red\";\nconst alert_identity = msg.payload.silo_row;\n\n\n\n\n\nconst silo_data  = msg.payload;\nconst obj_alert = context.get('obj_alert');\nconst silo_alert = obj_alert[silo_data.loop_name];\nconst alert_lv = silo_data.HH;\n\n\n\n\nmsg.id = silo_data.loop_name;\nmsg.payload = null;\n\n\n\n//check if silo id exists or the alert is enable\nif (silo_alert == undefined){\n    // msg.payload = \"No silo id found (\" + silo_data.loop_name +\")\" ;\n    // return msg;\n    return msg;\n}\n\nif (silo_data.percent >= alert_lv && silo_alert ==false){\n    obj_alert[silo_data.loop_name] = true;\n    context.set('obj_alert',obj_alert);\n    msg.alert = true;\n\n    msg.params = [date, date, alert_type, alert_topic, alert_message, alert_identity, alert_from]\n    msg.payload = {\n\n        alert_identity: alert_identity,\n        alert_type: alert_type,\n        alert_topic: alert_topic,\n        alert_message: alert_message,\n        alert_from: alert_from,\n        datetime_start: date,\n        datetime_end: date\n\n    }\n    return msg;\n\n}\nif(silo_data.percent <= (alert_lv-5) && silo_alert == true){\n    obj_alert[silo_data.loop_name] = false;\n    context.set('obj_alert', obj_alert);\n    msg.alert = false;\n    return msg;\n\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst obj_alert = {\n    L00P0: false, L00P1: false, L00P2: false, L00P3: false, L00P4: false,\n    L00P5: false, L00P6: false, L00P7: false, L00P8: false, L00P9: false,\n    L00P10: false, L00P11: false, L00P12: false, L00P13: false, L00P14: false,\n    L00P15: false, L00P16: false, L00P17: false, L00P18: false, L00P19: false,\n    L00P20: false, L00P21: false\n};\ncontext.set('obj_alert', obj_alert);\n",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 1760,
        "wires": [
            [
                "c7e9dc328028b8f5"
            ]
        ]
    },
    {
        "id": "2d26186ca21aa057",
        "type": "function",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "HH alert",
        "func": "const date = new Date();\n\n\n\nconst alert_type = \"information\";\nconst alert_topic = \"Silo high\";\nconst alert_message = \"Silo is now on Critical high level (HH) !  \";\nconst alert_from = \"node red\";\nconst alert_identity = msg.payload.silo_row;\n\n\n\n\n\nconst silo_data  = msg.payload;\nconst obj_alert = context.get('obj_alert');\nconst silo_alert = obj_alert[silo_data.loop_name];\nconst alert_lv = silo_data.HH;\n\n\n\n\nmsg.id = silo_data.loop_name;\nmsg.payload = null;\n\n\n\n//check if silo id exists or the alert is enable\nif (silo_alert == undefined ) {\n    // msg.payload = \"No silo id found (\" + silo_data.loop_name +\")\" ;\n    // return msg;\n    return msg;\n}\n\nif (silo_data.percent >= alert_lv && silo_alert ==false){\n    obj_alert[silo_data.loop_name] = true;\n    context.set('obj_alert',obj_alert);\n    msg.alert = true;\n\n    msg.params = [date, date, alert_type, alert_topic, alert_message, alert_identity, alert_from]\n    msg.payload = {\n\n        alert_identity: alert_identity,\n        alert_type: alert_type,\n        alert_topic: alert_topic,\n        alert_message: alert_message,\n        alert_from: alert_from,\n        datetime_start: date,\n        datetime_end: date\n\n    }\n    return msg;\n\n}\nif(silo_data.percent <= (alert_lv-5) && silo_alert == true){\n    obj_alert[silo_data.loop_name] = false;\n    context.set('obj_alert', obj_alert);\n    msg.alert = false;\n    return msg;\n\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst obj_alert = {\n    L00P0: false, L00P1: false, L00P2: false, L00P3: false, L00P4: false,\n    L00P5: false, L00P6: false, L00P7: false, L00P8: false, L00P9: false,\n    L00P10: false, L00P11: false, L00P12: false, L00P13: false, L00P14: false,\n    L00P15: false, L00P16: false, L00P17: false, L00P18: false, L00P19: false,\n    L00P20: false, L00P21: false\n};\ncontext.set('obj_alert',obj_alert);\n",
        "finalize": "",
        "libs": [],
        "x": 2900,
        "y": 1720,
        "wires": [
            [
                "c7e9dc328028b8f5"
            ]
        ]
    },
    {
        "id": "e29c7f999dcbb289",
        "type": "function",
        "z": "b352267603553871",
        "name": "value_data_synced",
        "func": "let temp_silo_value = context.get('temp_silo_value');\nconst silo_row = msg.payload.silo_row;\n\n\ntemp_silo_value[silo_row] = msg.payload;\n\n\ntemp_silo_value[\"syncTrigger\"] = temp_silo_value[\"syncTrigger\"] | (1 << (silo_row-1));\n\n\n\nif (temp_silo_value[\"syncTrigger\"] === 8388603){\n    global.set(\"silo_value\", temp_silo_value);\n    temp_silo_value[\"syncTrigger\"] = 0;\n    msg = {};\n\n    const { syncTrigger, ...output } = temp_silo_value;\n    msg.payload = output;\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst silo_value = {\n    \"2\": {}, \"1\": {}, \"4\": {}, \"5\": {}, \"6\": {}, \"7\": {}, \"8\": {}, \n    \"9\": {}, \"10\": {}, \"11\": {}, \"12\": {}, \"13\": {}, \"14\": {},\n    \"15\": {}, \"16\": {}, \"17\": {}, \"19\": {}, \"20\": {}, \"21\": {}, \"22\": {}, \"18\": {},\"23\":{}\n\n}\n\nconst temp_silo_value = {\n    \"syncTrigger\": 0,\n \"2\": {}, \"1\": {}, \"4\": {}, \"5\": {}, \"6\": {}, \"7\": {}, \"8\": {},\n    \"9\": {}, \"10\": {}, \"11\": {}, \"12\": {}, \"13\": {}, \"14\": {},\n    \"15\": {}, \"16\": {}, \"17\": {}, \"19\": {}, \"20\": {}, \"21\": {}, \"22\": {}, \"18\": {},\"23\":{}\n\n}\n\ncontext.global.set('silo_value', silo_value);\ncontext.set('temp_silo_value', temp_silo_value);\n\n\n\n",
        "finalize": "",
        "libs": [],
        "x": 2650,
        "y": 2400,
        "wires": [
            [
                "7c4b96504f312072",
                "a40b48ce0fa38c84",
                "c4ca2aaed875b35f"
            ]
        ]
    },
    {
        "id": "7c4b96504f312072",
        "type": "http request",
        "z": "b352267603553871",
        "d": true,
        "name": "send data to server",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://nodejs-backend:5000/api/silo/update-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "tn[$X2oyx@((TMev5_^e(>jZz%r9.H"
            }
        ],
        "x": 2910,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "7660a56d952972e2",
        "type": "function",
        "z": "b352267603553871",
        "name": "function 3",
        "func": "const loop_names = context.get('loop_names');\n\nconst max_h = 20;\n\n\nconst payload = {};\n\nfor(let i=0;i<29;i++){\n    const rate = Math.random();\n    const h = max_h*rate;\n    const percent = 100*rate;\n\n    payload[loop_names[i]] = {\n        \"plsnr\": i,\n        \"loop_name\": loop_names[i],\n        \"depth\": max_h-h,\n        \"percent\": percent\n    };\n}\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set('loop_names', ['L00P0', 'L00P1', 'L00P2', 'L00P3', 'L00P4', 'L00P5', 'L00P6', 'L00P7', 'L00P8', 'L00P9', 'L00P10', 'L00P11', 'L00P12', 'L00P13', 'L00P14', 'L00P15', 'L00P16', 'L00P17', 'L00P18', 'L00P19', 'L00P20', 'L00P21', 'L00P22', 'L00P23', 'L00P24', 'L00P25', 'L00P26', 'L00P27', 'L00P28']);",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1720,
        "wires": [
            [
                "16587d2cdc2844d6"
            ]
        ]
    },
    {
        "id": "a50ddcc921bc67a7",
        "type": "function",
        "z": "b352267603553871",
        "name": "30 Sec cron switch ",
        "func": "const interval = cronParser.parseExpression('*/30 * * * * *');\nconst next_t = interval.prev();\n\n\nif (parseInt(msg.Timestamp/1000) === parseInt(next_t.getTime()/1000) ){\n    return msg\n}\n\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "cronParser",
                "module": "cron-parser"
            }
        ],
        "x": 2250,
        "y": 1980,
        "wires": [
            [
                "b8a0d1647c695cae"
            ]
        ]
    },
    {
        "id": "8d70df32f3f5a26d",
        "type": "function",
        "z": "b352267603553871",
        "name": "1 Min cron switch ",
        "func": "const interval = cronParser.parseExpression('* * * * *');\nconst next_t = interval.prev();\n\n\nif (parseInt(msg.Timestamp/1000) === parseInt(next_t.getTime()/1000) ){\n    return msg\n}\n\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "cronParser",
                "module": "cron-parser"
            }
        ],
        "x": 2190,
        "y": 1840,
        "wires": [
            [
                "79f4181f81ee96af"
            ]
        ]
    },
    {
        "id": "de834925301f3ac7",
        "type": "function",
        "z": "b352267603553871",
        "d": true,
        "name": "30 sec detect",
        "func": "let msg_passed = context.get('msg_passed');\n\n\nif (msg.topic === \"reset\") {\n\n    msg_passed = {};\n    context.set('msg_passed', msg_passed);\n    msg.payload = \"TEST\";\n    return msg;\n\n}\n\nconst loop_name = msg.payload.loop_name;\n\nif (msg_passed[loop_name] === undefined){\n\n    msg_passed[loop_name] = '';\n    context.set('msg_passed', msg_passed);\n    msg.payload.weight = msg.payload.weight.toFixed(2)\n\n    if (isNaN(msg.params[3])) msg.params[3] = null;\n    return msg;\n}\nelse {\n    return null;\n    }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n\nlet prev_sec = undefined;\nconst msg_passed = {};\n\n\ncontext.set('msg_passed', msg_passed);\ncontext.set('prev_sec', prev_sec);",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "ed3a50f70261ab9f",
        "type": "function",
        "z": "b352267603553871",
        "d": true,
        "name": "1 min tunnel",
        "func": "//check 1 min interval \nconst now = new Date();\n\nlet prev_min = context.get('prev_min');\nlet msg_passed = context.get('msg_passed');\nconst roundedMinutes = Math.floor(now.getMinutes());\n\n\nconst loop_name = msg.payload.loop_name;\n\n\nif (roundedMinutes != prev_min ){\n    prev_min = roundedMinutes;\n    msg_passed = {\n\n    };\n    context.set('prev_min', prev_min);\n\n    \n}\n\nif (msg_passed[loop_name] === undefined){\n    msg_passed[loop_name] = '';\n    context.set('msg_passed', msg_passed);\n    return msg;\n}\nelse return null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nlet  prev_min = undefined;\n\nconst msg_passed = {};\n\n\ncontext.set('msg_passed', msg_passed);\ncontext.set('prev_min', prev_min);",
        "finalize": "",
        "libs": [],
        "x": 2390,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "dc31723a3f79ff34",
        "type": "function",
        "z": "b352267603553871",
        "name": "1 second tunnel ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 2180,
        "wires": [
            [
                "e29c7f999dcbb289"
            ]
        ]
    },
    {
        "id": "ac06d14c0188a1d6",
        "type": "function",
        "z": "b352267603553871",
        "name": "30 Sec cron switch ",
        "func": "const interval = cronParser.parseExpression('*/30 * * * * *');\nconst next_t = interval.prev();\n\n\nif (parseInt(msg.Timestamp/1000) === parseInt(next_t.getTime()/1000) ){\n    return msg\n}\n\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "cronParser",
                "module": "cron-parser"
            }
        ],
        "x": 2230,
        "y": 2440,
        "wires": [
            [
                "b8a0d1647c695cae"
            ]
        ]
    },
    {
        "id": "b985e2eccd1bb9c8",
        "type": "function",
        "z": "b352267603553871",
        "name": "1 Min cron switch ",
        "func": "const interval = cronParser.parseExpression('* * * * *');\nconst next_t = interval.prev();\n\n\nif (parseInt(msg.Timestamp/1000) === parseInt(next_t.getTime()/1000) ){\n    return msg\n}\n\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "cronParser",
                "module": "cron-parser"
            }
        ],
        "x": 2230,
        "y": 2260,
        "wires": [
            [
                "79f4181f81ee96af"
            ]
        ]
    },
    {
        "id": "03b50cc03fb343f7",
        "type": "debug",
        "z": "b352267603553871",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3180,
        "y": 1600,
        "wires": []
    },
    {
        "id": "0565262d8cbae325",
        "type": "debug",
        "z": "b352267603553871",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2100,
        "wires": []
    },
    {
        "id": "a40b48ce0fa38c84",
        "type": "debug",
        "z": "b352267603553871",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2900,
        "y": 2320,
        "wires": []
    },
    {
        "id": "78570ff7514f1e32",
        "type": "mqtt out",
        "z": "b352267603553871",
        "name": "",
        "topic": "test/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1bd453682ffb6f95",
        "x": 3240,
        "y": 2580,
        "wires": []
    },
    {
        "id": "a2f66d4c891608b9",
        "type": "mqtt in",
        "z": "b352267603553871",
        "name": "",
        "topic": "test/control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1bd453682ffb6f95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2620,
        "y": 2700,
        "wires": [
            [
                "39463d504c15a377"
            ]
        ]
    },
    {
        "id": "39463d504c15a377",
        "type": "function",
        "z": "b352267603553871",
        "name": "MQTT Ctrl Sw",
        "func": "const payload = msg.payload;\n\nmsg.topic = payload?\"on\":\"off\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2840,
        "y": 2660,
        "wires": [
            [
                "c4ca2aaed875b35f"
            ]
        ]
    },
    {
        "id": "c4ca2aaed875b35f",
        "type": "function",
        "z": "b352267603553871",
        "name": "function 6",
        "func": "let sw = context.get('switch');\nconst sw_now = msg.topic; \n\nif(msg.topic === \"on\" || msg.topic === \"off\"){\nsw = msg.topic;\ncontext.set('switch',sw);\n}\n\nif(sw === \"on\") return msg; \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n\ncontext.set('switch',\"off\");\n",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 2520,
        "wires": [
            [
                "78570ff7514f1e32"
            ]
        ]
    },
    {
        "id": "621d966a76f35ec9",
        "type": "cronplus",
        "z": "b352267603553871",
        "name": "",
        "outputField": "Timestamp",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "*/3 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "7660a56d952972e2",
                "bb28c591bf9d267e"
            ]
        ]
    },
    {
        "id": "04035ba4527b4c15",
        "type": "postgresql",
        "z": "b352267603553871",
        "g": "1f674a53429b48fc",
        "name": "alert low level",
        "query": "INSERT INTO silo.alert (datetime_start,datetime_end,alert_type,alert_topic,alert_message,alert_identity,alert_from) VALUES ($1, $2, $3, $4, $5, $6, $7);",
        "postgreSQLConfig": "647ea0875c075db5",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 3660,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "1638788ea5e5c530",
        "type": "mysql",
        "z": "b352267603553871",
        "mydb": "f743f36fa6f7f446",
        "name": "",
        "x": 620,
        "y": 2240,
        "wires": [
            [
                "33728b106d5bacbc",
                "0565262d8cbae325"
            ]
        ]
    },
    {
        "id": "bb28c591bf9d267e",
        "type": "function",
        "z": "b352267603553871",
        "name": "Query Data",
        "func": "msg.topic = `\nSELECT sl.silo_name,\n       sl.silo_id,\n       rd.loop_name,\n       mt.material_id,\n       mt.material_density,\n       sl.row AS silo_row,\n       mt.material_name,\n       sl.silo_capacity AS silo_max_m3,\n       sl.HH,\n       sl.H,\n       sl.L,\n       sl.LL\nFROM silo AS sl\nJOIN radar rd ON sl.radar_row = rd.row\nLEFT JOIN material mt ON mt.row = sl.material_row\nORDER BY sl.silo_name;\n`\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2200,
        "wires": [
            [
                "1638788ea5e5c530"
            ]
        ]
    },
    {
        "id": "b8a0d1647c695cae",
        "type": "function",
        "z": "b352267603553871",
        "name": "Insert into Mysql value_data table",
        "func": "// Extract data from msg.payload\nconst dateTime = msg.payload.date_time;\nconst percentValue = msg.payload.percent;\nconst volumeValue = msg.payload.volume;\nconst weightValue = msg.payload.weight;\nconst siloRow = msg.payload.silo_row;\nconst heightValue = msg.payload.depth; // Use the appropriate value\nconst materialId = msg.payload.material_id;\nconst materialName = msg.payload.material_name;\nconst materialDensity = msg.payload.material_density;\nconst radar_value = msg.payload.radar_value\n// Prepare the SQL query and values\nmsg.topic =`\nINSERT INTO value_data ( date_time, radar_value, height_value, percent_value, volume_value, weight_value, silo_row, material_id, material_name, material_density)\n VALUES ( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);`\n;\n\nmsg.payload = [dateTime,radar_value,heightValue, percentValue, volumeValue, weightValue, siloRow, materialId, materialName, materialDensity];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2840,
        "y": 2180,
        "wires": [
            [
                "403a20f22ebf9da0"
            ]
        ]
    },
    {
        "id": "403a20f22ebf9da0",
        "type": "mysql",
        "z": "b352267603553871",
        "d": true,
        "mydb": "f743f36fa6f7f446",
        "name": "",
        "x": 3080,
        "y": 2180,
        "wires": [
            [
                "9826f682c76bfc95"
            ]
        ]
    },
    {
        "id": "9826f682c76bfc95",
        "type": "debug",
        "z": "b352267603553871",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3320,
        "y": 2140,
        "wires": []
    },
    {
        "id": "9339da609bb888e8",
        "type": "mysql",
        "z": "b352267603553871",
        "mydb": "f743f36fa6f7f446",
        "name": "",
        "x": 3500,
        "y": 2020,
        "wires": [
            [
                "e1fc56dbb1b2ba33"
            ]
        ]
    },
    {
        "id": "3eaf8c7439e9c8ca",
        "type": "function",
        "z": "b352267603553871",
        "name": "Insert into Mysql alert table",
        "func": "// Extract data from msg.payload\nconst datetime_start = msg.payload.datetime_start;\nconst datetime_end = msg.payload.datetime_end;\nconst alert_type = msg.payload.alert_type;\nconst alert_topic = msg.payload.alert_topic;\nconst alert_message = msg.payload.alert_message;\nconst alert_identity = msg.payload.alert_identity; // Use the appropriate value\nconst alert_from = msg.payload.alert_from;\n\nmsg.topic =`\nINSERT INTO alert (datetime_start,datetime_end,alert_type,alert_topic,alert_message,alert_identity,alert_from) \nVALUES (?, ?, ?, ?, ?, ?, ?);`\n;\n\nmsg.payload = [datetime_start,datetime_end,alert_type, alert_topic, alert_message, alert_identity, alert_from];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3280,
        "y": 2020,
        "wires": [
            [
                "9339da609bb888e8"
            ]
        ]
    },
    {
        "id": "e1fc56dbb1b2ba33",
        "type": "debug",
        "z": "b352267603553871",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3700,
        "y": 2020,
        "wires": []
    },
    {
        "id": "b151489903cd2d59",
        "type": "inject",
        "z": "b352267603553871",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2600,
        "y": 2820,
        "wires": [
            [
                "c3b23dadfd6036df"
            ]
        ]
    },
    {
        "id": "d50671eb1260fcdf",
        "type": "mqtt out",
        "z": "b352267603553871",
        "name": "",
        "topic": "test/idk",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1bd453682ffb6f95",
        "x": 3320,
        "y": 2900,
        "wires": []
    },
    {
        "id": "c3b23dadfd6036df",
        "type": "function",
        "z": "b352267603553871",
        "name": "function 7",
        "func": "\nfor (let i=0; i<576000 ; i++){\n    msg.payload = { data: i}\n    node.send(msg);\n\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2840,
        "y": 2820,
        "wires": [
            [
                "d50671eb1260fcdf",
                "757944fba106ac10",
                "f96fb4c2cb5bddd8"
            ]
        ]
    },
    {
        "id": "757944fba106ac10",
        "type": "debug",
        "z": "b352267603553871",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3040,
        "y": 2960,
        "wires": []
    },
    {
        "id": "f96fb4c2cb5bddd8",
        "type": "file",
        "z": "b352267603553871",
        "name": "data.txt",
        "filename": "data.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 3360,
        "y": 2760,
        "wires": [
            []
        ]
    }
]